.new-tweet {
    border-radius: 8px;
    border: 1px solid #bdb9b9;
    background: #705F6C;
    padding: 20px;
    margin-right: 2em;
    margin-left: 2em;
    width: auto;
    height:90%;
    display: none;

}

.new-tweet form {
  width:100%;
}

.new-tweet .counter {
  float: right;
  font-style: italic;
  margin-right: 10px;
  color:#bdb9b9;
}
.new-tweet h2 {
  margin-top: 0px;
  border-bottom: 2px solid #bdb9b9;
  color: #FFFFFF;
}

.new-tweet textarea {
  width:100%;
  padding: 5px;
  max-width:100%;
}

.new-tweet input {
  margin-left: 5px;
  color: #705F6C;
}

.new-tweet #errors {
  margin-left: 5px;
  font-style: bold;
  color: #FFFFFF;
}

